<%- include('../../includes/head', {pageTitle: 'Add Category' }) %>
    <link rel="stylesheet" href="/css/custom-bg-image.css">
    </head>
    <%- include('../../includes/sidebar') %>
        <%- include('../../../common/partials/alert') %>
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Toolbar-->
                <div class="toolbar" id="kt_toolbar">
                    <!--begin::Container-->
                    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                        <!--begin::Page title-->
                        <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
                            data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                            class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                            <!--begin::Title-->
                            <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Edit Category</h1>
                            <!--end::Title-->
                            <!--begin::Separator-->
                            <span class="h-20px border-gray-300 border-start mx-4"></span>
                            <!--end::Separator-->
                            <!--begin::Breadcrumb-->
                            <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-muted">
                                    <a href="/admin/dashboard" class="text-muted text-hover-primary">Home</a>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item">
                                    <span class="bullet bg-gray-300 w-5px h-2px"></span>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-muted">Categories</li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item">
                                    <span class="bullet bg-gray-300 w-5px h-2px"></span>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-dark">Edit Category</li>
                                <!--end::Item-->
                            </ul>
                            <!--end::Breadcrumb-->
                        </div>
                        <!--end::Page title-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container-xxl">
                        <form class="form d-flex flex-column flex-lg-row"
                            action="/admin/edit-category/<%= category.slug %>/<%= category._id %>?_csrf=<%= locals.csrfToken %>"
                            method="POST" enctype="multipart/form-data">
                            <!--begin::Aside column-->
                            <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                                <!--begin::Thumbnail settings-->
                                <div class="card card-flush py-4">
                                    <!--begin::Card header-->
                                    <div class="card-header">
                                        <!--begin::Card title-->
                                        <div class="card-title">
                                            <h2>Category logo</h2>
                                        </div>
                                        <!--end::Card title-->
                                    </div>
                                    <!--end::Card header-->
                                    <!--begin::Card body-->
                                    <div class="card-body text-center pt-0">
                                        <!--begin::Image input-->
                                        <div class="image-input image-input-empty image-input-outline mb-3 <%= (errors && errors.image) ? 'is-invalid' : '' %>"
                                            data-kt-image-input="true"
                                            style="background-image: url('/categories/assets/images/<%= category.image %>')">
                                            <!--begin::Preview existing avatar-->
                                            <div class="image-input-wrapper w-150px h-150px"></div>
                                            <!--end::Preview existing avatar-->
                                            <!--begin::Label-->
                                            <label
                                                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                                title="Change image">
                                                <!--begin::Icon-->
                                                <i class="bi bi-pencil-fill fs-7"></i>
                                                <!--end::Icon-->
                                                <!--begin::Inputs-->
                                                <input type="file" name="image" class="" />
                                                <!--end::Inputs-->
                                            </label>
                                            <!--end::Label-->
                                            <!--begin::Cancel-->
                                            <span
                                                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
                                                title="Cancel image">
                                                <i class="bi bi-x fs-2"></i>
                                            </span>
                                            <!--end::Cancel-->
                                        </div>
                                        <!--end::Image input-->
                                        <!--begin::Description-->



                                        <div class="text-muted fs-7">Set the brand thumbnail image. Only *.png,
                                            *.jpg and
                                            *.jpeg image files are accepted</div>
                                        <% if (errors && errors.image) { %><span class="error invalid-feedback">
                                                <%= errors.image.msg %>
                                            </span>
                                            <% } %>
                                                <!--end::Description-->
                                    </div>
                                    <!--end::Card body-->
                                </div>
                                <!--end::Thumbnail settings-->
                                <!--begin::Status-->
                                <div class="card card-flush py-4">
                                    <!--begin::Card header-->
                                    <div class="card-header">
                                        <!--begin::Card title-->
                                        <div class="card-title">
                                            <h2>Status</h2>
                                        </div>
                                        <!--end::Card title-->
                                        <!--begin::Card toolbar-->
                                        <div class="card-toolbar">
                                            <div class="rounded-circle bg-success w-15px h-15px"
                                                id="kt_ecommerce_add_category_status"></div>
                                        </div>
                                        <!--begin::Card toolbar-->
                                    </div>
                                    <!--end::Card header-->
                                    <!--begin::Card body-->
                                    <div class="card-body pt-0">
                                        <!--begin::Select2-->
                                        <select class="form-select mb-2" data-control="select2" data-hide-search="true"
                                            data-placeholder="Select an option" name="is_active"
                                            id="kt_ecommerce_add_category_status_select">
                                            <!-- <% if(category.is_active) { %>
                                                <option value="published" selected="selected">Published</option>
                                            <% } else { %>
                                                <option value="unpublished" selected="selected">Unpublished</option>
                                            <%} %>
                                                
                                                <option value="published" selected="">Published</option>
                                                <option value="unpublished" selected="">Unpublished</option> -->
                                            <option value="published" <%=(old.is_active ? old.is_active==='published' :
                                                category.is_active) ? "selected" : "" %>>
                                                Published
                                            </option>

                                            <option value="unpublished" <%=(old.is_active ?
                                                old.is_active==='unpublished' : !category.is_active) ? "selected" : ""
                                                %>>
                                                Unpublished
                                            </option>
                                        </select>
                                        <!--end::Select2-->
                                        <!--begin::Description-->
                                        <div class="text-muted fs-7">Set the category status.</div>
                                        <!--end::Description-->
                                    </div>
                                    <!--end::Card body-->
                                </div>
                                <!--end::Status-->
                            </div>
                            <!--end::Aside column-->
                            <!--begin::Main column-->
                            <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                                <!--begin::General options-->
                                <div class="card card-flush py-4">
                                    <!--begin::Card header-->
                                    <div class="card-header">
                                        <div class="card-title">
                                            <h2>General</h2>
                                        </div>
                                    </div>
                                    <!--end::Card header-->
                                    <!--begin::Card body-->
                                    <div class="card-body pt-0">
                                        <!--begin::Input group-->
                                        <div class="mb-10 fv-row">
                                            <!--begin::Label-->
                                            <label class="required form-label">Category Name</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="name" autocomplete="off"
                                                class="form-control mb-2 <%= (errors && errors.name) ? 'is-invalid' : '' %>"
                                                placeholder="Category name"
                                                value="<%= (category.name || old && old.name) %>" />
                                            <!--end::Input-->
                                            <!--begin::Description-->
                                            <% if (errors && errors.name) { %><span class="error invalid-feedback">
                                                    <%= errors.name.msg %>
                                                </span>
                                                <% } %>
                                                    <div class="text-muted fs-7">A category name is required and
                                                        recommended
                                                        to be
                                                        unique.</div>

                                                    <!--end::Description-->
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <!--end::Card header-->
                                </div>
                                <!--end::General options-->
                                <!--begin::Meta options-->
                                <div class="card card-flush py-4">
                                    <!--begin::Card header-->
                                    <div class="card-header">
                                        <div class="card-title">
                                            <h2>Meta Options</h2>
                                        </div>
                                    </div>
                                    <!--end::Card header-->
                                    <!--begin::Card body-->
                                    <div class="card-body pt-0">
                                        <!--begin::Input group-->
                                        <div class="mb-10">
                                            <!--begin::Label-->
                                            <label class="form-label">Meta Tag Title</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" autocomplete="off"
                                                class="form-control mb-2 <%= (errors && errors.meta_title) ? 'is-invalid' : '' %>"
                                                name="meta_title" placeholder="Meta tag name"
                                                value="<%= (category.meta_title || old && old.meta_title) || '' %>" />
                                            <!--end::Input-->
                                            <!--begin::Description-->
                                            <% if (errors && errors.meta_title) { %><span
                                                    class="error invalid-feedback">
                                                    <%= errors.meta_title.msg %>
                                                </span>
                                                <% } %>
                                                    <div class="text-muted fs-7">Set a meta tag title. Recommended to be
                                                        simple and
                                                        precise keywords.</div>

                                                    <!--end::Description-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="mb-10">
                                            <!--begin::Label-->
                                            <label class="form-label">Meta Tag Description</label>
                                            <!--end::Label-->
                                            <!--begin::Editor-->
                                            <textarea name="meta_description"
                                                class="min-h-100px mb-2 form-control form-control-lg <%= (errors && errors.meta_description) ? 'is-invalid' : '' %>"
                                                placeholder="Meta Description"><%= category.meta_description %></textarea>
                                            <!--end::Editor-->
                                            <!--begin::Description-->
                                            <% if (errors && errors.meta_description) { %><span
                                                    class="error invalid-feedback">
                                                    <%= errors.meta_description.msg %>
                                                </span>
                                                <% } %>
                                                    <div class="text-muted fs-7">Set a meta tag description to the
                                                        category
                                                        for
                                                        increased SEO ranking.</div>

                                                    <!--end::Description-->
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <!--end::Card header-->
                                </div>
                                <!--end::Meta options-->
                                <div class="d-flex justify-content-end">
                                    <!--begin::Button-->
                                    <a href="/admin/view-categories" id="kt_ecommerce_add_product_cancel"
                                        class="btn btn-light me-5">Cancel</a>
                                    <!--end::Button-->
                                    <!--begin::Button-->
                                    <button type="submit" id="kt_ecommerce_add_category_submit" class="btn btn-primary">
                                        <span class="indicator-label">Update Category</span>
                                        <span class="indicator-progress">Please wait...
                                            <span
                                                class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                    </button>
                                    <!--end::Button-->
                                </div>
                            </div>
                            <!--end::Main column-->
                        </form>
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Post-->
            </div>
            <!--end::Content-->
            <%- include('../../includes/footer') %>