<%- include('../includes/head', {pageTitle: 'SignUp' }) %>
    <link rel="stylesheet" href="css/custom.css">
    </style>
    </head>

    <body>
        <%- include('../includes/header') %>
            <%- include('../../common/partials/alert') %>
                <main class="main pages">
                    <div class="page-header breadcrumb-wrap">
                        <div class="container">
                            <div class="breadcrumb">
                                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                                <span></span> SignUp
                            </div>
                        </div>
                    </div>
                    <div class="page-content pt-150 pb-150">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-8">
                                            <div class="login_wrap widget-taber-content background-white">
                                                <div class="padding_eight_all bg-white">
                                                    <div class="heading_s1">
                                                        <h1 class="mb-5">Create an Account</h1>
                                                        <p class="mb-30">Already have an account? <a
                                                                href="/login">Login</a>
                                                        </p>
                                                    </div>
                                                    <form action="/signup" method="POST">
                                                        <input type="hidden" name="_csrf"
                                                            value="<%= locals.csrfToken %>">
                                                        <div class="form-group">
                                                            <div class="text-group">
                                                                <span><svg class="icon svg-icon-ti-ti-user"
                                                                        xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0">
                                                                        </path>
                                                                        <path
                                                                            d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2">
                                                                        </path>
                                                                    </svg></span>
                                                                <input type="text" name="name"
                                                                    placeholder="Name"
                                                                    value="<%= (old && old.name) || '' %>" />
                                                            </div>
                                                            <% if (errors && errors.name) { %>
                                                                <span class="error">
                                                                    <%= errors.name.msg %>
                                                                </span>
                                                                <% } %>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="text-group">
                                                                <span><svg class="icon svg-icon-ti-ti-mail"
                                                                        xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                        <path
                                                                            d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z">
                                                                        </path>
                                                                        <path d="M3 7l9 6l9 -6"></path>
                                                                    </svg></span>
                                                                <input type="text" name="email"
                                                                    placeholder="Email"
                                                                    value="<%= (old && old.email) || '' %>" />
                                                            </div>

                                                            <% if (errors && errors.email) { %>
                                                                <span class="error">
                                                                    <%= errors.email.msg %>
                                                                </span>
                                                                <% } %>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="text-group">
                                                                <span><svg class="icon svg-icon-ti-ti-phone"
                                                                        xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                        <path
                                                                            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                                                                        </path>
                                                                    </svg></span>
                                                                <input type="text" name="phone"
                                                                    placeholder="Phone Number"
                                                                    title="Enter a valid 10-digit phone number" />
                                                            </div>

                                                            <% if (errors && errors.phone) { %>
                                                                <span class="error text-red-100">
                                                                    <%= errors.phone.msg %>
                                                                </span>
                                                                <% } %>

                                                        </div>
                                                        <div class="form-group">
                                                            <div class="text-group">
                                                                <span><svg class="icon svg-icon-ti-ti-lock"
                                                                        xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                        <path
                                                                            d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z">
                                                                        </path>
                                                                        <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0">
                                                                        </path>
                                                                        <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
                                                                    </svg></span>
                                                                <input type="password" name="password"
                                                                    placeholder="Password" />
                                                            </div>
                                                            <% if (errors && errors.password) { %>
                                                                <span class="error text-red-100">
                                                                    <%= errors.password.msg %>
                                                                </span>
                                                                <% } %>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="text-group">
                                                                <span><svg class="icon svg-icon-ti-ti-lock"
                                                                        xmlns="http://www.w3.org/2000/svg" width="24"
                                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                        <path
                                                                            d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z">
                                                                        </path>
                                                                        <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0">
                                                                        </path>
                                                                        <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
                                                                    </svg></span>
                                                                <input type="password"
                                                                    name="confirmPassword" id="passwordInput"
                                                                    placeholder="Confirm password" />
                                                                <span id="togglePassword"
                                                                    style="cursor:pointer; margin-right: 10px;">
                                                                    <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg"
                                                                        width="24" height="24" fill="none"
                                                                        stroke="currentColor" stroke-width="2"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        viewBox="0 0 24 24">
                                                                        <path
                                                                            d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7-11-7-11-7z" />
                                                                        <circle cx="12" cy="12" r="3" />
                                                                    </svg>
                                                                </span>
                                                            </div>

                                                            <% if (errors && errors.confirmPassword) { %>
                                                                <span class="error">
                                                                    <%= errors.confirmPassword.msg %>
                                                                </span>
                                                                <% } %>
                                                        </div>


                                                        <div class="login_footer form-group mb-50">
                                                            <div class="chek-form">
                                                                <div class="custome-checkbox">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        name="checkbox" id="exampleCheckbox12"
                                                                        value="" />
                                                                    <label class="form-check-label"
                                                                        for="exampleCheckbox12"><span>I agree to terms
                                                                            &amp;
                                                                            Policy.</span></label>
                                                                </div>
                                                            </div>
                                                            <a href="page-privacy-policy.html"><i
                                                                    class="fi-rs-book-alt mr-5 text-muted"></i>Lean
                                                                more</a>
                                                        </div>
                                                        <div class="form-group mb-30">
                                                            <button type="submit"
                                                                class="btn btn-fill-out btn-block hover-up font-weight-bold"
                                                                name="login">Submit &amp; Register</button>
                                                        </div>
                                                        <p class="font-xs text-muted"><strong>Note:</strong>Your
                                                            personal
                                                            data will be used to support your experience throughout this
                                                            website, to manage access to your account, and for other
                                                            purposes described in our privacy policy</p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 lg:pr-30 d-none d-lg-block">
                                            <div class="card-login mt-115">
                                                <a href="#" class="social-login facebook-login">
                                                    <img src="/frontend/assets/imgs/theme/icons/logo-facebook.svg"
                                                        alt="" />
                                                    <span>Continue with Facebook</span>
                                                </a>
                                                <a href="#" class="social-login google-login">
                                                    <img src="/frontend/assets/imgs/theme/icons/logo-google.svg"
                                                        alt="" />
                                                    <span>Continue with Google</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <script src="js/custom.js"></script>
                <%- include('../includes/footer') %>